{% extends "base.html" %}
{% block content %}
	<h1>Login</h1>
	<form action="{% url 'login' %}" method="post" class="login">
		{% csrf_token %}
		<table>
			<tr>
				<td>{{ form.username.label_tag }}</td>
				<td>{{ form.username }}</td>
			</tr>
			<tr>
				<td>{{ form.password.label_tag }}</td>
				<td>{{ form.password }}</td>
			</tr>
		</table>
		<a href="{% url 'social:begin' 'github' %}">Github 登入</a>
		<a href="{% url 'password_reset' %}">又忘記密碼啦(´・ω・｀)</a>
		<input type="submit" value="login">
	</form>
{% endblock %}