{% load static %}
<html>
<head>
	<meta charset="utf-8">
	{% block title %}
	{% endblock %}
	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<nav class="navbar">
		<a class="navbar-brand" href="/home">My Blog</a>
		<a class="navbar-brand" href="/showImg">My Image</a>
		<a class="navbar-brand" href="https://github.com/juliewah">My Github</a>
		<a class="navbar-brand" href="/admin">Sign in</a>
	</nav>

	{% block content %}
	{% endblock %}
</body>
</html>