.container{
	display: flex;
	justify-content: space-around;
}

h1{
	text-align: center;
}

.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: blue;
}
.navbar a{
	color: #A3D1D1;
}

img {
	max-width: 100%;
	height: auto;
}